h1{
    color: blue;
}

body{
    margin: 20px;
}

.card{
    width: 200px;
    border: 1px solid black;
    position: relative;
    left: 100px;
}

#close-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}

#card-img-container{
    width: 100%;
}

#card-img-container img{
    width: 100%;
}


.box {
    width: 100px;
    height: 100px;
}

.red{
    background-color: darkred;
}

.blue{
    background-color:blue;
}

.green{
    background-color:green;
}

.orange{
    background-color:orangered;
}

.purple{
    background-color: purple;
}

.pink{
    background-color: palevioletred;
}

.brown{
    background-color: brown;
}

.yellow{
    background-color: yellow;
}

.flex-container{
    background-color:coral;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
}